[Unit]
Description=Rclone Google Drive Mount
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount gdrive: %h/.gdrive \
  --config %h/.config/rclone/rclone.conf \
  --vfs-cache-mode full \
  --dir-cache-time 72h \
  --poll-interval 15s \
  --umask 002
ExecStop=/bin/fusermount3 -u %h/GoogleDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target

